* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --background-color: #181818;
    --surface-color: #242424;
    --primary-color: #c1121f;
    --text-color: #ffffff;
    --border-color: #ffffff;

}

body {

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: Arial, Helvetica, sans-serif;

}

header {

    padding: 1.5rem;

    text-align: center;

    background-color: black;

    border-bottom: 3px solid var(--primary-color);

}

header h1 {

    font-size: 3rem;

}

main {

    flex: 1;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    gap: 2rem;

    padding: 2rem;

}

.playerCard {

    background-color: var(--surface-color);

    border: 2px solid var(--border-color);

    border-radius: 10px;

    padding: 2rem;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;

}

.playerCard h2,
dialog h2 {

    text-align: center;

    font-size: 2.5rem;

    color: var(--primary-color);

    margin-bottom: 2rem;

}

.playerCard div {

    display: flex;

    justify-content: space-between;

    font-size: 1.5rem;

}



.label {

    font-weight: bold;
}

#gameArea {

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 3.5rem;

}

#gameStatus {

    text-align: center;

    visibility: hidden;

}

#board {

    width: clamp(400px, 50vw, 500px);
    height: clamp(400px, 50vh, 500px);

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.cell {

    background-color: transparent;

    border: none;

    color: var(--text-color);

    font-size: 4rem;

    font-weight: bold;

    cursor: pointer;

}

.cell:hover,
.cell:focus {

    background-color: rgba(193, 18, 31, 0.15);

    outline: none;

}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(7),
.cell:nth-child(8) {

    border-right: 4px solid var(--border-color);

}

.cell:nth-child(-n+6) {

    border-bottom: 4px solid var(--border-color);

}

#startBtn,
#restartBtn {

    padding: 0.8rem 2rem;

    border: none;

    border-radius: 8px;

    background-color: var(--primary-color);

    color: var(--text-color);

    font-size: 1rem;

    font-weight: bold;

    cursor: pointer;

}

#startBtn:hover,
#restartBtn:hover,
#startBtn:focus,
#restartBtn:focus {

    /* background-color: #9b0d18; */

    outline: none;

    color: var(--primary-color);
    background-color: var(--text-color);

}

dialog {

    width: clamp(400px, 50vw, 500px);

    border: 2px solid var(--primary-color);

    border-radius: 12px;

    padding: 2rem;

    background-color: var(--surface-color);

    color: var(--text-color);

    margin: auto;

}

dialog::backdrop {

    background-color: rgba(0, 0, 0, 0.65);

}

dialog label {

    display: block;

    margin-bottom: 0.5rem;

    font-weight: bold;

}


#playerForm #nameError,
#playerForm #markerError {

    color: var(--primary-color);

    font-size: 0.8rem;

    margin-top: 0.4rem;

    display: none;
}


#playerForm p:nth-of-type(2) {

    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    font-weight: bold;

}

#markerContainer {

    display: flex;

    justify-content: center;

    gap: 1.5rem;

    margin-bottom: 2rem;

}

.markerBtn {

    width: 4rem;

    height: 4rem;

    border: 2px solid var(--border-color);

    background-color: transparent;

    color: var(--text-color);

    font-size: 2rem;

    font-weight: bold;

    cursor: pointer;

}

.markerBtn:hover,
#continueBtn:hover,
.markerBtnSelected {

    background-color: var(--primary-color);
}


#continueBtn {

    display: block;

    font-weight: bold;

    cursor: pointer;

}

dialog input,
#continueBtn {

    width: 100%;

    padding: 0.8rem;

    background-color: transparent;

    color: var(--text-color);

    border: 1px solid var(--border-color);

    border-radius: 8px;

    font-size: 1rem;


}

.redBorder {
    border: 4px solid var(--primary-color);
}

.cell.redBg {

    background-color: var(--primary-color);
}